@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&family=Red+Hat+Display&display=swap');
.Logo {
  background-color: white;
  font-family: 'Red Hat Display', sans-serif;
  /*background-image: url(../assets/background.png);
  background-position: center; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover;*/
}
